<!DOCTYPE html>
<html>
   <%= render 'header' %>
<body>
 <h2><%= Rails.configuration.x.name %> - Réservation</h2>
 <div id="main">
    <%= render 'error_messages' %>
    <%= render 'form' %>
 </div>
</body>
