<!DOCTYPE html>
<html>
<title><%= Rails.configuration.x.name %> - Réservation</title>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="../stylesheets/bootstrap-datepicker3.min.css">
  <link rel="stylesheet" href="../stylesheets/jquery.bootstrap-touchspin.min.css">
  <link rel="stylesheet" href="../stylesheets/booking.css">
  <script src="../javascripts/jquery-1.11.3.min.js"></script>
  <script src="../javascripts/bootstrap-datepicker.min.js"></script>
  <script src="../javascripts/bootstrap-datepicker.fr.min.js" charset="UTF-8"></script>
  <script src="../javascripts/jquery.bootstrap-touchspin.min.js"></script>
</head>
<body>
 <h2><%= Rails.configuration.x.name %> - Réservation</h2>
 <div id="main">
    <%= render 'error_messages' %>
    <%= render 'form' %>
 </div>
</body>
